.difficultyLevelButtons button{
  background-color:transparent;
  color: #eeeeee;
  width: 45%;
  padding:1.5vh;
  font-size: 1.5vh;
  border:2px solid white;
  box-shadow: 0vh .5vh .5vh grey;
  transition: all .5s;
}
.difficultyLevelButtons button:first-child{
  margin-right: 10%;
}

.difficultyLevelButtons button:hover{
  background-color:#333333;
  box-shadow: 0vh .5vh .5vh silver;
}

.difficultyLevelButtons button.selected{
  background-color:#666666;
}

.difficultyLevelButtons button h4{
  background-color: transparent;
  text-align: center;
}