.difficultyLevel{
  padding: 2vh 2vh 2vh 0;
  text-align: left;
  height: 12vh;
}

.difficultyLevel h4{
  font-size: 2.5vh;
  text-transform: capitalize;
  color: #F9CC9D;
}

.difficultyLevelButtons{
  width: 100%;
}

@media (orientation: landscape){
  .difficultyLevel{
    float:right;
    width: 50vw;
  }
}

@media (orientation: portrait){
  .difficultyLevel{
    width: 100vw;
  }
}
