.difficultyLevel{
  padding: 2vh;
  text-align: left;
  height: 12vh;
}

.difficultyLevel h4{
  font-size: 2vh;
  text-transform: capitalize;
}

.difficultyLevelButtons{
  width: 100%;
}

@media (orientation: landscape){
  .difficultyLevel{
    float:right;
    width: 50vw;

  }
}

@media (orientation: portrait){
  .difficultyLevel{
    width: 100vw;
  }
}

