.header{
  width: 100%;
  padding-bottom: 2.5vh;
  height: 20vh;
}

.header h2{
  padding:1vh;
  font-size: 3vh;
}

.header h3{
  padding:0vh 1vh 1vh 1vh;
  font-size: 2vh;
}

.header h4{
  font-size: 2vh;
  padding:0vh 1vh 1vh 1vh;
}

.left{
  float:left;
  text-align: left;
}
.right{
  float:right;
  text-align:right;
}
.tiny-hide{
  display: inline;
}
.tiny-show{
  display: none;
}

@media (orientation: landscape){
  .header{
    height: 22vh;
    margin-bottom:6vh;
  }
}

@media (max-width: 600px){
  .header{
    height: 15vh;
  }
  .tiny-hide{
    display: none;
  }
  .tiny-show{
    display: inline;
  }
}