.interactions{
  vertical-align: bottom;
}

@media (max-width: 560px){
  .interactions p{
    font-size: 1.7vh;
  }
}

@media (orientation: landscape){
  .interactions{
    padding-top: 2vh;
    float:left;
    width: 56vw;
  }
}

@media (orientation: portrait){
  .interactions{
    padding-top: 1.5vh;
    width: 100vw;
  }
}