.lettersSelection{
  padding: 1vh;
  float:left;
  text-align: left;
}

.lettersSelection h4{
  font-size: 2vh;
  text-transform: capitalize;
}

@media (orientation: landscape){
  .lettersSelection{
    width: 50vw;
  }
}

@media (orientation: portrait){
  .lettersSelection{
    width: 100vw;
  }
}
