.lettersPicked{
  padding: 2vh;
  text-align: left;
  float:right;
}
.lettersPicked h4{
  font-size: 2vh;
  text-transform: capitalize;
}

@media (orientation: landscape){
  .lettersPicked{
    height: 8vh;
    width: 50vw;
  }
}

@media (orientation: portrait){
  .lettersPicked{
    height: 4vh;
    width: 100vw;
  }
}
