.lettersSelection{
  padding-top: 2vh;
  float:left;
  text-align: left;
}

.lettersSelection h4{
  font-size: 3vh;
  text-transform: capitalize;
}

@media (orientation: landscape){
  .lettersSelection{
    width: 56vw;
  }
  .lettersSelection h4{
    font-size: 4.5vh;
  }
}

@media (orientation: portrait){
  .lettersSelection{
    width: 96vw;
  }
}
