.letter{
  display: inline-block;
}
.letter h4{
  font-size: 2vh;
  text-transform: capitalize;
}

.unavailable h4{
  text-decoration: line-through;
  opacity: .50;
}

@media (orientation: landscape){
  .letter{
    height: 3.5vh;
    width: 2vw;
    margin: 0vw 1vw 1vw 1vw;
  }
}

@media (orientation: portrait){
  .letter{
    height: 3.5vh;
    width: 6vw;
    margin: 0vw 1.5vw 1.5vw 1.5vw;
  }
}