.lettersPicked{
  padding-top: 4vh;
  text-align: left;
}
.lettersPicked h4{
  font-size: 2.5vh;
  text-transform: capitalize;
}

@media (orientation: landscape){
  .lettersPicked{
    height: 11vh;
    width: 50vw;
  }
}

@media (orientation: portrait){
  .lettersPicked{
    height: 11vh;
    width: 96vw;
  }
}
