.letterForm{
  background-color: #EECCFF;
  height: 9vh;
  padding-top: 2vh;
}

.letterForm input{
  width: 3vh;
  height: 3vh;
  padding: .5vh;
  font-size: 2vh;
  text-align: center;
  text-transform: capitalize;
}

@media (orientation: landscape){
  .letterForm{
    float:right;
    width: 10vw;
  }
}

@media (orientation: portrait){
  .letterForm{
    width: 20vw;
  }
}