.letter{
  display: inline-block;
}
.letter h4{
  font-size: 2vh;
  text-transform: capitalize;
}

@media (orientation: landscape){
  .letter{
    height: 3.5vh;
    width: 2vw;
    margin: 1vw;
  }
}

@media (orientation: portrait){
  .letter{
    height: 3.5vh;
    width: 4vw;
    margin: 2vw;
  }
}