.message{
  padding: 2vh;
  float:left;
  text-align: left;
}

.message div h4{
  font-size: 2vh;
  text-transform: capitalize;
}

@media (orientation: landscape){
  .message{
    width: 40vw;
  }
  .message h4{
    width: 28vw;
    float:left;
  }
}

@media (orientation: portrait){
  .message{
    width: 100vw;
  }
  .message h4{
    width: 70vw;
    float:left;
  }
}
