.message {
  padding-top: 4vh;
/*  float:left;*/
  text-align: left;
}

.message h4{
  font-size: 2.5vh;
  text-transform: capitalize;
  color: #F9CC9D;
}

@media (orientation: landscape){
  .message{
    width: 50vw;
  }
  .message h4{
    width: 33vw;
    float:left;
  }
}

@media (orientation: portrait){
  .message{
    width: 96vw;
  }
  .message h4{
    width: 63vw;
    float:left;
  }
}
