.message{
  background-color: #C3FDB8;
  height: 9vh;
  padding-top: 2vh;
  vertical-align: bottom;
  float:left;
}

@media (max-width: 560px){
  .message p{
    font-size: 1.7vh;
  }
}

@media (orientation: landscape){
  .message{
    width: 40vw;
  }
}

@media (orientation: portrait){
  .message{
    width: 80vw;
  }
}