.newGame{
  padding-top: 2vh;
}
.newGame button{
  background-color:transparent;
  color: #eeeeee;
  padding:1.5vh;
  font-size: 1.5vh;
  margin: 0 2vh 0.5vh 0;
  border:2px solid white;
  box-shadow: 0vh .5vh .5vh silver;
  transition: all 1s;
}
.newGame button:hover{
  background-color:#333333;
  box-shadow: 0vh .5vh .5vh grey;
}


@media (orientation: landscape){
  .newGame{
    float:right;
    width: 10vw;
  }
}

@media (orientation: portrait){
  .newGame{
    width: 20vw;
  }
}