.word{
  background-color: black;
  padding-top: 2vh;
}

@media (max-width: 560px){
  .word p{
    font-size: 1.7vh;
  }
}

@media (orientation: landscape){
  .word{
    float:right;
    width: 50vw;
    height: 9vh;
  }
}

@media (orientation: portrait){
  .word{
    width: 100vw;
    height: 6vh;
  }
}