@media (orientation: landscape){
  .word{
    padding-top: 2vh;
    width: 56vw;
    height: 9vh;
    float: left;
  }
  .word .letter {
    width: 4.5vh;
    margin: 0 1vw 1vw 0;
  }
}

@media (orientation: portrait){
  .word{
    padding-top: 1vh;
    width: 100vw;
    height: 5vh;
  }
}
