.word{
  padding-top: 2vh;
}

@media (orientation: landscape){
  .word{
    width: 50vw;
    height: 9vh;
    float: left;
  }
  .word .letter {
    width: 2.5vw;
    margin: 0 1vw 1vw 0;
  }
}

@media (orientation: portrait){
  .word{
    width: 100vw;
    height: 6vh;
  }
}
